body {
  background-color: #f2f2f2;
}

p, h1, h2, h3, h4, h5, label {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-wrap {
  width: 300px;
  background-color: #f4e242;
  padding: 30px;
}
