html, body {
  height: 100%;
}
body {
  background-color: #f2f2f2;
}

p, h1, h2, h3, h4, h5, label {
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.animal-list {

  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-wrap {
  width: 20%;
  background-color: #f1f1f1;
  padding: 30px;
}

ul {
  overflow-y: scroll;
  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
  height: 400px;
  list-style: none;

}

li {
  padding: 20px;
  border-bottom: 2px solid white;
  background-color: #f4eee1;
}

li:nth-of-type(odd) {
  background-color: #eff2f7;
}

.animal {
  display: flex;
  flex-direction:row;

  flex-wrap: wrap;

}

.animalImg {
  width: 60%;
  padding-right: 30px;

  img {
    width: 100%;
  }
}

.animal-info {
}

.animal-buttons {
  width: 100%;
  justify-content:center;

  margin: auto;
  display: flex;
  padding: 10px;
}
